*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#667eea,#764ba2);
}

.login-card{
    width:360px;
    padding:40px 30px;
    border-radius:20px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(12px);
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
    text-align:center;
    color:white;
    transition:0.3s;
}

.profile-img{
    width:90px;
    height:90px;
    border-radius:50%;
    border:4px solid white;
    margin-bottom:20px;
}

.input-group{
    margin-bottom:20px;
    text-align:left;
}

.input-group input{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:10px;
    border:none;
    border-radius:25px;
    background:linear-gradient(90deg,#ff9a9e,#fad0c4);
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    transform:scale(1.05);
}

#message{
    margin-top:15px;
    font-weight:bold;
}
